.container_body {
    background-color: #F6F6F6;
    color: #1d1c1d;
}

.search_input {
    padding: 9px 8px;
    margin: 20px;
    width: 100%;
    color: #B0AFB0;
    outline: 1px solid #E7E7E7;
    border-radius: 5px;
}

.search_input:focus {
    outline: 1px solid #E7E7E7;
}
.search_input::placeholder {
    font-size: 14px;
}

.picture_cover {
    float: right;
    padding: 9px 8px;
    margin: 15px 10px;
}

.profile_img {
    /* width: 20px; */
}
.online-people_img {
    width: 145px;
}
@media screen and (max-width: 767px) {
    .online-people_img {
        width: 130px;
    }
}


.cover_nav {
    background-color: #00B87C;
    padding: 10px 10px 10px 0;
}
.hash {
    color: white;
    display: inline;
}
.select_cover {
    background-color: #00B87C;
    color: white; 
    padding: 10px 10px 10px 0;
}
.select_cover:focus {
    outline: none;
    border: none;
}
.options {
    background-color: white;
    color: #00B87C;
    border: none;
    outline: none;
    padding: 10px 10px 10px 0;
}
.search_icon_img {
    display: inline;
}


.sub_nav {
    padding: 32px 40px;
}
.design_drop_down {
    outline: 1px solid #00B87C;
    padding: 15px 16px;
    font-size: 13px;
    background-color: white;
}
.shift_button {
    padding: 15px 16px;
    font-size: 13px;
    outline: 1px solid #00B87C;
    border: none;
    margin-left: 35px;
    background-color: white;
}

.date_cover {
    outline: 1px solid #00B87C;
    padding: 15px 16px;
    font-size: 14px;
    background-color: white;
}
.navigation_arrow {
    padding: 5px 9px;
    border-radius: 100%;
    font-size: 12px;
    margin: 10px;
    font-weight: bold;
    background-color:  #E7E7E7;
}



.sub_nav_two {
    padding: 5px 40px;
}
.task {
    color: black;
    display: inline;
    margin-right: 10px;
}


.tag_delete {
    display: inline;
}

@media screen and (max-width: 768px) {
    .sub_nav {
        padding: 20px 10px;
    }
    .sub_nav_two {
        padding: 5px 10px;
    }
    .design_drop_down {
        padding: 8px 10px;
        font-size: 12px;
    }
    .shift_button {
        padding: 8px 10px;
        font-size: 12px;
        margin-left: 20px;
    }

    .date_cover {
        padding: 8px 12px;
        font-size: 12px;
    }
    .navigation_arrow {
        padding: 5px 9px;
        font-size: 10px;
        margin: 5px;
    }
    .task {
        margin-right: 5px;
        font-size: 13px;
    }
    .tag_delete {
        display: none;
    }
}
@media screen and (max-width: 580px) {
    .design_drop_down {
        padding: 5px 7px;
        font-size: 10px;
    }
    .shift_button {
        padding: 5px 7px;
        font-size: 10px;
        margin-left: 10px;
    }

    .date_cover {
        padding: 5px 7px;
        font-size: 10px;
    }
    .cal_icon {
        display: none;
    }
    .navigation_arrow {
        padding: 2px 4px;
        font-size: 7px;
        margin: 0 5px;
    }
}
@media screen and (max-width: 414px) {
    .design_drop_down {
        margin-bottom: 10px;
    }
    .shift_button {
        margin-left: 0px;
    }
}
@media screen and (max-width: 397px){
    .date_cover {
        padding: 5px 7px;
        font-size: 10px;
    }
    
}



@media screen and (max-width: 1065px) {
    .right_search_cover {
        display: none;
    }
}


.right_search {
    padding: 10px 5px;
    background-color: #F6F6F6;
    border-bottom: 1px solid #B0AFB0;
}

.right_search::placeholder {
    font-size: 13px;
    background-color: #F6F6F6;
}
.right_search:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #B0AFB0;
}


.task_details {
    text-align: center;
}
.heading_cover {
    text-align: center;
}
.heading {
    padding: 15px 0;
}
.avatar_img {
    width: 45px;
    margin-left: 50px;
    margin-top: -10px;
}

.data_cover {
    padding: 5px 40px;  
}
@media screen and (max-width: 1240px){
    .avatar_img {
        width: 45px;
        margin-left: 30px;
        margin-top: -10px;
    }
}
@media screen and (max-width: 768px){
    .avatar_img {
        width: 30px;
        margin-left: 10px;
        margin-top: 0px;
    }
    .data_cover {
        padding: 5px 20px;  
    }
    .task_details {
        text-align: left!important;
    }
    .heading_cover {
        text-align: justify;
        padding: 0px 50px;
    }
}
@media screen and (max-width: 414px){
    .avatar_img {
        width: 30px;
        margin-left: 10px;
        margin-top: 13px;
    }
}


.heading_cover {
    background-color: white;
    margin: 5px 0;
    border-radius: 5px;
}
.heading {
    font-weight: 500;
}
.tag_heading {
    display: inline;
    color: #1d1c1d;
}

.task_details {
    margin: 5px 0;
    background-color: #E7E7E7;
    border-radius: 5px;
    padding: 20px 0;
}

/* 
@media screen and (max-width: 1103px){ 

} */

.green {
    background-color: #CBFFEE;
}