@{
    ViewData["Title"] = "Home";
}
<style>
    .vCenter {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<div class="text-center vCenter">
    <h1 class="display-4 ">Zuri Company Duty Shift Plugin</h1>
    <h2 class="display-5">Team Tolstoy - .NET Backend</h2>

</div>
